<h2 title="<%= title %>" class="cl-title cl-collapse-hide <% if(kback) { %>cl-title-back<% } %>">
    <% if(kback) { %>
    <a class="back-img ib-main-back" href="javascript:void(0)">
    </a>  
    <% } %>
    <%= utils.strim(title, 15, "...") %>
</h2>

<ul class="cl-links cl-collapse-icons nav-folder-list">
    <% _.each(links, function(link) { %>
        <li  class="overflow-ellipsis <% if(link.cssClass) { %>
            <%= link.cssClass %>
        <% } %>">
            <% if(link.expandable) { %>
            <span class="phandle cl-collapse-hide idrag-open"><i class="icon-chevron-right icon-fixed-width" /><i class="icon-chevron-down icon-fixed-width" /><i class="icon-refresh icon-spin icon-fixed-width" /></span>
            <% } %>
            <a title="<%= link.name %>" href="#" class="ib-title <% if(link.active) { %>active<% } %> <% if(link.dragOpen) { %>idrag-open<% } %>" data-id="<%= link.id %>" >
                <% if(link.icon) { %>
                <i class="<%= link.icon %>" />
                <% } %>
                <span class="name cl-collapse-hide"><%= link.name %></span>
                <% if(link.detail) { %>
                <span class="details  cl-collapse-hide"><%= link.detail %></span>
                <% } %>
            </a>
        </li>
    <% }) %>
</ul>
