@model Classlink.web.Models.configdata

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<!-- saved from url=(0014)about:internet -->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Dashboard - Registration Setup</title>
    <!--[if lte IE 9]>
    <script src="xdomain.js" slave="http://example.org/proxy.html"></script>
    <![endif]-->

    <!--Different Browser icon for All Devices -->
    <link href="favicon.ico?v=0.025920" rel="icon" type="image/x-icon">
    <!--IE Browser icon for All Devices -->
    <link href="~/favicon.ico?v=0.025920" rel="shortcut icon" type="image/x-icon">
    <link href="~/favicon.ico?v=0.025920" rel="shortcut icon" type="image/ico">
    <!--Icon for Devices -->
    <link href="~/favicon.ico?v=0.025920" rel="apple-touch-icon">
    <!--Icon for Devices -->
    <link href="~/favicon.ico?v=0.025920" rel="apple-touch-icon-precomposed">
    <!--CSS -->
    <link href="~/stylesheets/bootstrap.min.css?v=0.1" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="~/stylesheets/bootstrap-theme.min.css?v=0.1" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="~/stylesheets/AdminLTE.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="~/stylesheets/skin/_all-skins.min.css?v=0.1" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="~/stylesheets/screen.css?v=0.1" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="~/stylesheets/font-awesome.min.css?v=0.1" media="screen, projection" rel="stylesheet" type="text/css">
    <!--Ends CSS -->
    <!--Script -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="javascripts/modernizr-custom.js"></script>
    <![endif]-->
    <!--Ends Script -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!--Wrapper Scope -->
    <div class="wrapper wrapper-scope welcome-wrapper row">
        <center>
            <div class="welcome-wrapper-body">
                <div class="img-box img-responsive"><img style="border-radius: 17%;" src="http://dlkf6mjgds3hc.cloudfront.net/clouddrive/2017/06/15/t1497541378-9f9a00d397946be66ed2579649b825ca/1497541378.png" alt="" /></div>
                <p>Welcome to your</p>
                <h1>Notebook Library</h1>
                <p>Navigate the folders to find a page from your notebook or search for pages below</p>
                <button class="btn btn-primary bg-white" tabindex="6" onClick="window.location = '../Classlink/Myfiles';">View MyFiles</button>
                @*<input type="submit" class="btn btn-primary bg-white" tabindex="6" value="View MyFiles" />*@
            </div>
        </center>
    </div>
    <!--Ends Wrapper Scope -->
    <script type="text/javascript" src="~/javascripts/jquery.min.js?v=0.1"></script>
    <script type="text/javascript" src="~/javascripts/jquery-migrate.min.js?v=0.1"></script>
    <script type="text/javascript" src="~/javascripts/bootstrap.min.js?v=0.1"></script>
    <script type="text/javascript" src="~/javascripts/custom.js?v=0.1"></script>
    <script type="text/javascript" src="~/javascripts/app.min.js?v=0.1"></script>
</body>
</html>
